.backdrop {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
}

.open{
    display: block;
}

.home {
    .intro {
        border-bottom: 2px dashed @color-border;
        h2 {
          margin-top: 20px;
        }
        .btn {
          .button(@color-secondary, @buttonFontSize, @color-white);
          &:hover {
            .button(@color-primary, @buttonFontSize, @color-black);
          }
        }
      }
}