.cards-container {
    .flex-style(space-evenly);
    .width-100();
    margin-top: 16px;
    flex-wrap: wrap;
    .card {
      .border-bottom-green();
      .flex-style(space-between, none, none, column);
      background-color: @color-white;
      width: 380px;
      margin-bottom: 16px;
      padding: 24px;
      .headline {
        font-size: 25px;
        font-family: Didot, serif;
      }
      .wedding_planner {
        .flex-style(none, center);
        margin-top: 15px;
        .img-container {
          padding-right: 10px;
          border-right: 1px solid @color-secondary;
          height: 40px;
          img {
            width: 40px;
            height: 100%;
          }
        }
        span {
          padding-left: 10px;
          font-size: 12px;
          letter-spacing: 1px;
          font-weight: bold;
        }
      }
    }
  }