.nav__bar {
    width: 100%;
    .flex-style(center, center, none, row);
    vertical-align: middle;
    height: 3rem;
    .logo {
        font-family: @logoText;
        font-size: 2rem
    }
    a {
        text-decoration: none;
        color: #000;
        .padding-styles(1rem, 1rem, 1rem, 1rem);
        font-size: 1.5rem;
    }
}


/* Mobile Nav */

.mobile-nav {
    display: none;
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    background: #bcddb3;
    width: 60%;
    /* height: 100vh; */
    margin-top: 3rem;
    .mobile-nav__items {
        width: 90%;
        height: 100%;
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .mobile-nav__item {
            margin: 1rem 0;
            a {
                text-decoration: none;
                font-weight: bold;
                border-bottom: 1px solid #0d172e;
                border-top: 1px solid #0d172e;
                color: #ffffff;
                display: block;
                font-size: 17px;
                font-weight: 500;
                padding: 28px 20px;
                text-decoration: none;
                &:hover{
                    color: #FFFFFF;
                    border-bottom: 5px solid #FFFFFF;
                }
            }
        }
    }
}

